body{
    background-color:antiquewhite;
    font-family:Arial, sans-serif;
    margin: 40px;
    color: rgb(156, 24, 24)
}

h1{
    background-color:rgb(116, 19, 19);
    color: antiquewhite;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

table {
    width: 100%;
    max width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px  rgb(87, 81, 81);
}

th,td{
    border: 1px solid rgb(87, 81, 81);
    padding: 12px;
    text-align: left;
}

th{
    backround-color: rgb(138, 39, 39)
}

a{
    color: rgb(104, 94, 94);
    text-decoration:none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}